@tailwind base;
@tailwind components;
@tailwind utilities;

.write-article .ql-editor {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 60vh;
  max-height: 60vh;
}

.article .ql-editor {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
}

.ql-container:focus,
.ql-container .ql-editor:focus {
  outline: none;
  box-shadow: none;
}
